<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <% for(let i of abc){ %>
        <% if(actual_id == i._id){ %>
            <form action="/<%= i._id%>/update" method="post">
                <label for="">Name of student</label>
                  <input type="text" name="Sname" id="" value="<%= i.StudentName %>" > <br>
          
                  <label for="">Name of parent</label>
                  <input type="text" name="Pname" id="" value="<%= i.ParentName %>" > <br>
          
                  <label for="">Name of any guardian</label>
                  <input type="text" name="Gname" id="" value="<%= i.GuardianName %>" > <br>
          
                  <label for="">Payment method?</label>
                  <input type="text" name="pay" id="" value="<%= i.Paymentmethod %>" > <br>
          
                  <button type="submit">SUBMIT!!</button>
              </form>
        <% } %>
    <% } %>

   
    
</body>
</html>